{% extends 'base/index.html' %}
{% block titulo %}
Bienvenido {{ user.first_name }}
{% endblock titulo %}

{% block main %}
{{ backends }}
    {% if backends.associated %}
        {% for bkn in backends.associated %}
            {% if bkn.provider == 'facebook' %}
            {{ bkn }}
            {{ bkn.extra_data.name }} {{ bkn.extra_data.email }}
            <img src="{{ bkn.extra_data.picture.data.url }}" alt="">
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock main %}