{% extends "base/index.html"%}

{% block main %}
<h1>Bienvendido {{ user.username }}</h1>
{% if fotos %}
    {% for foto in fotos %}
    <div class="card col-sm-12 col-md-4">
        <img src="/media/{{ foto.foto }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ foto.titulo }}</h5>
          <p class="card-text">{{ foto.detalle }}</p>
          <span class="badge badge-secondary">Subido por {{foto.usuario.username}}</span>
        </div>
      </div>
        
    {% endfor %}
{% endif %}
{% endblock main %}